<%-include ("header") %>
<body class="body">
    

<h1>This is the about page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Rerum, ad magni, tempora accusamus eum officiis accusantium 
    eveniet maxime assumenda ullam perferendis tempore distinctio 
    harum debitis corporis laboriosam consequuntur quam tenetur?</p>

</body>
<%-include ("footer") %>  